<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HNK Tech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/style/style.css">
</head>

<body>


    <header class="navbar py-2 bg-light border-bottom">
        <div class="container-fluid d-flex flex-wrap justify-content-between">
            <a class="navbar-brand fs-3 text-primary col-lg-auto me-lg-auto mb-2 mb-md-0" href="../index.html">HNK Tech</a>

            <div id="navbar01">
                <ul class="nav text-end">
                    <li class="nav-item"><a href="login.html" class="nav-link link-dark px-2">Iniciar
                            sesion</a></li>
                    <li class="nav-item"><a href="registro.html"
                            class="nav-link link-dark px-2">Registrarse</a></li>
                </ul>
            </div>


            <div id="navbar02">
                <ul class="nav text-end">
                    <li class="nav-item"><a href="config.html"
                            class="nav-link link-dark px-2">Configuracion</a></li>
                    <li class="nav-item" id="logout"><a href="#" class="nav-link link-dark px-2">Cerrar sesion</a></li>
                </ul>
            </div>

        </div>

    </header>

    <nav class="py-3 mb-4 border-bottom bg-primary">
        <div class="container-fluid d-flex flex-wrap justify-content-between">
            <ul class="nav me-auto mb-2 mb-lg-0 fs-4">
                <li class="nav-item">
                    <a class="nav-link text-light" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="catalogo.html" role="button">
                        Catalogo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="contacto.html">Contacto</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item text-end">
                    <a class="nav-link text-light fs-4" href="carrito.html">Carrito <img
                            src="../assets/images/carrito.png" alt="carrito" class="img-fluid"></a>
                </li>
            </ul>

        </div>
    </nav>

    <main>
        <div class="ms-3 text-black"><br>
            <h1> Condiciones de uso </h1>
            <p> Bienvenidos a nuestro sitio web. Revise estos Terminos de uso, que constituyen un acuerdo de licencia
                vinculante entre usted y HNK Tech y condiciona el uso de este sitio. Hemos tratado de evitar palabreria
                legal innecesaria y esperamos ue comprenda que simplemente estamos tratando de proteger nuestros
                derechos
                para brindarle acceso al contenido disponible en este sitio. Si no desea estar obligado por este Acuerdo
                después de haberlo leído, abandone el sitio. Si permanece en este sitio o regresa posteriormente, acepta
                regirse por este acuerdo.
            </p>
            <h2> Privacidad </h2>
            <p> Sabemos que su información personal es importante para usted, por eso es importante para nosotros.
                Nuestra Política de privacidad explica en detalle qué información sobre usted recopilamos y cómo usamos
                la información sobre usted que recopilamos. </p>
            <h2> Derechos de propiedad intelectual </h2>
            <p> Todos los materiales del Sitio HNK Tech, entre otros, el nombre del sitio, la URL, los logotipos, el
                diseño,
                el texto, los gráficos, otros archivos y la selección y organización de los mismos, son propiedad de HNK
                Tech. </p>
            <h2> Cambios en el sitio </h2>
            <p> Podemos, a nuestro exclusivo criterio, cambiar, modificar, suspender, realizar mejoras o interrumpir
                cualquier
                aspecto del sitio o cualquier servicio disponible en el sitio, temporal o permanentemente, en cualquier
                momento
                sin previo aviso, y no seremos responsables por hacerlo.
            <p> Si no está de acuerdo con los cambios en el sitio, puede dejar de usarlo </p>

            <h1> Politica de privacidad </h1>
            <p> Esta politica de privacidad describe cómo se recopila la información y los datos de usted cuando utiliza
                este sitio web en línea o sitio web móvil y como HNK Tech utiliza, comparte y gestiona su informacion y
                datos.
                Al utilizar cualquiera de los Servicios, usted acepta la recopilación, el uso, el procesamiento y el
                intercambio
                de su información como se describe en esta Política de privacidad. </p>
            <h2> Nuestros principios de privacidad </h2>
            <p> Nos comprometemos a reconocer y respetar sus derechos de privacidad manteniéndolo informado y
                protegiendo sus
                datos personales de conformidad con las leyes y regulaciones de protección de datos aplicables
                ("Leyes de protección de datos"). </p>
            <h2> Informacion que recopilamos de usted </h2>
            <p> Podemos recopilar y procesar parte o toda la siguiente información que nos proporciona si completa el
                formulario de contacto, como su: </p>
            <ul>
                <li>Nombre</li>
                <li>Direccion de correo electronico</li>
                <li>Telefono de contacto</li>
            </ul>
            <h3> Datos de uso que recopilamos automáticamente de usted </h3>
            <p> Además de la información que nos proporciona, los Servicios pueden recopilar y procesar datos
                adicionales
                automáticamente, estos datos pueden incluir su: </p>
            <ul>
                <li>Datos de registro del dispositivo (por ejemplo, el tipo de dispositivo móvil que utiliza, el
                    dispositivo único o ID
                    de publicidad de su dispositivo móvil, la dirección IP, el sistema operativo y el tipo de navegador)
                </li>
                <li>Configuración del dispositivo (por ejemplo, su preferencia de idioma)</li>
                <li>Operador de telefonía móvil</li>
                <li>Información sobre cómo usa los Servicios (por ejemplo, cuántas veces usa los Servicios cada día)
                </li>
                <li>URL solicitadas y de referencia.</li>
                <li>Información recopilada a través de cookies y otras tecnologías de seguimiento que incluyen, entre
                    otros, su
                    dirección IP y nombre de dominio, la versión de su navegador y sistema operativo, datos de tráfico,
                    datos de
                    ubicación, registros web y otros datos de comunicación, y los recursos a los que accede.</li>
            </ul>
            <h2> Como utilizamos su informacion </h2>
            <p> En esta sección, establecemos los propósitos para los cuales usamos la información personal que
                recopilamos
                cuando utiliza los servicios. Las leyes de protección de datos aplicables nos exigen identificar las
                bases
                legales en las que nos basamos para procesar la información. </p>
            <h3> Brindar los servicios, mejorar los servicios, brindar soporte y comunicarse con usted. </h3>
            <p> Podemos usar los datos que usted proporciona o que se recopilan a traves de los servicios, para
                comunicarnos con usted de vez en cuando para brindarle información y avisos importantes. en relación con
                los
                servicios, y para cumplir con las obligaciones derivadas de cualquier acuerdo entre usted y nosotros.
            </p>
            <h3> Bases legales </h3>
            <p> Cumplimiento del contrato, intereses legítimos (para corresponder con usted, para permitirnos brindarle
                los
                Servicios y mejorar los servicios) </p>
            <h3> Suministro de materiales de promocion y marketing </h3>
            <p> Nosotros y nuestros proveedores de servicios podemos utilizar los datos que usted proporciona o que se
                recopilan
                a través de los servicios para proporcionarle actualizaciones, ofertas y promociones, cuando haya
                elegido recibirlas.
                También podemos utilizar su información para comercializar nuestros propios productos y servicios y los
                de nuestros
                socios comerciales seleccionados por correo electrónico y, cuando así lo exija la ley, le solicitaremos
                su
                consentimiento en el momento en que recopilemos sus datos para realizar cualquiera de estos tipos de
                márketing. </p>
        </div>
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-end py-3 border-top bg-primary">
        <div>
            <a href="nosotros.html" class="nav-link fs-4 text-light">Quienes Somos</a>
            <a href="legales.html" class="nav-link fs-4 text-light">Terminos y Condiciones</a>
        </div>

        <ul class="nav align-items-center">
            <li class="nav-item">
                <p class="mb-2 fs-4 px-2 text-light">Redes Sociales</p>
            </li>
            <li class="nav-item"><a href="#" class="fa fa-instagram"></a></li>
            <li class="nav-item"><a href="#" class="fa fa-facebook"></a></li>
        </ul>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="../scripts/render.js"></script>
    <script src="../scripts/logout.js"></script>

</body>

</html>